<%- include('../../shared/includes/head', {dynamicTitle: 'Landing page'}) %>

</head>
<body>
  <div class="allButFooter">
    <%- include('../../shared/includes/header') %>
      <main>
          <h1>KHALID SYAHMI</h1>
          <ul id="products-grid">
            <li>more content</li>
          </ul>
      </main>
    </div>
    
  <%- include('../../shared/includes/footer') %>
