<!-- <main>
  <h1>KHALID SYAHMI</h1>
  <ul id="products-grid">
    <li>more content</li>
  </ul>
</main>
 -->

<main>
    <section id="hero">
      <div id="hero-content">
        <h1>Oh Hi. My Name is Khalid</h1>
        <p>I am a React.js and Node.js Web Developer</p>
        <a href="#!">Discover my Projects</a>
      </div>
    </section>
    <section id="highlights">
      <h2>Highlights</h2>
      <ul id="destinations">
        <li class="destination">
          <img src="/images/pro1.png" alt="project 1" />
          <p>Online Shop <strong>Citrus Circus</strong></p>
        </li>
        <li class="destination">
          <img src="/images/pro2.png" alt="project 2" />
          <p>Chatbox API <strong>DialogFlow</strong></p>
        </li>
        <li class="destination">
          <img src="/images/pro3.png" alt="project 3" />
          <p>Portfolio Site <strong>2022, Node.js</strong></p>
        </li>
        <li class="destination">
          <img src="/images/stripe.png" alt="project 4" />
          <p>Payment Gateway <strong>Stripe</strong></p>
        </li>
        <li class="destination">
          <img src="/images/Leave Form App. Flutter.jpeg" alt="project 5" />
          <p>Leave Form Mobile App <strong>2020, Flutter</strong></p>
        </li>
        <li class="destination">
          <img src="/images/PPT webapp.png" alt="project 6" />
          <p>Treatment Booking App <strong>2020, Angular</strong></p>
        </li>
      </ul>
    </section>
  </main>
