    <footer class="footsies d-flex flex-wrap justify-content-between my-6">
        
        <p class="col-md-4 mb-0">© 2022 KHALID SYAHMI,  Web Developer</p>

        <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item"><a href="#" class="footer-a px-2">Home</a></li>
        <li class="nav-item"><a href="#" class="footer-a px-2">Projects</a></li>
        <li class="nav-item"><a href="#" class="footer-a px-2">Contact</a></li>
        <li class="nav-item"><a href="#" class="footer-a px-2">About</a></li>
        </ul>

         <!-- Grid container -->
  <div class="socials container ">
    <!-- Section: Social media -->
    <section class="mb-4">

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->
    </footer>
</body>     
</html>
